.dropdown {
  position: relative;
}

.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
  width: 150px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu li {
  padding: 10px;
  text-align: center;
}

.menu li:hover {
  background-color: #f2f2f2;
}

.menu a {
  text-decoration: none;
  color: #333;
}